heading-scale( ratio = 1.2, shift = 0, top = 1.2, bottom = -0.3 )

  headings()
    power = 6 - (i - shift)
    size = (ratio**power)em
    font-size size
    margin (ratio/size)*top 0 (ratio/size)*bottom !important

  for i in (1..6)
    h{i}
      headings()

heading-scale(1.5, -3)
@media max-small
  heading-scale(1.1)

h1, h2, h3, h4, h5, h6
  line-height 1.2
  font-weight 200