body {
  font: 100%/1.5 "Helvetica Neue";
  font-weight: 300;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0 !important;
}

*:first-child {
  margin-top: 0 !important;
}

*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 2.25em;
  margin: .7999999999999999em 0 -.19999999999999998em !important;
}

h2 {
  font-size: 1.5em;
  margin: 1.2em 0 -.3em !important;
}

h3 {
  font-size: 1em;
  margin: 1.7999999999999998em 0 -.44999999999999996em !important;
}

h4 {
  font-size: .6666666666666666em;
  margin: 2.6999999999999997em 0 -.6749999999999999em !important;
}

h5 {
  font-size: .4444444444444444em;
  margin: 4.05em 0 -1.0125em !important;
}

h6 {
  font-size: .2962962962962963em;
  margin: 6.075em 0 -1.51875em !important;
}

@media max-small {
  h1 {
    font-size: 1.6105100000000006em;
    margin: .8196161464380846em 0 -.20490403660952114em !important;
  }

  h2 {
    font-size: 1.4641000000000004em;
    margin: .9015777610818931em 0 -.22539444027047328em !important;
  }

  h3 {
    font-size: 1.3310000000000004em;
    margin: .9917355371900823em 0 -.24793388429752058em !important;
  }

  h4 {
    font-size: 1.2100000000000002em;
    margin: 1.0909090909090908em 0 -.2727272727272727em !important;
  }

  h5 {
    font-size: 1.1em;
    margin: 1.2em 0 -.3em !important;
  }

  h6 {
    font-size: 1em;
    margin: 1.32em 0 -.33em !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 200;
}

.nest,
.nest-1 {
  padding: 2.25em;
  background-color: rgba(0,128,128,0.2);
}

.nest.sub-short,
.nest-1.sub-short {
  padding-top: 1.125em;
  padding-bottom: 1.125em;
}

.nest > *,
.nest-1 > * {
  margin-top: 1.5em;
}

.nest .grid,
.nest-1 .grid {
  border-spacing: 1.5em 0;
}

.nest .grid > *,
.nest-1 .grid > * {
  margin-top: 1.5em;
}

.nest .nest,
.nest-2 {
  padding: 1.5em;
  background-color: rgba(0,128,128,0.2);
}

.nest .nest.sub-short,
.nest-2.sub-short {
  padding-top: .75em;
  padding-bottom: .75em;
}

.nest .nest > *,
.nest-2 > * {
  margin-top: 1em;
}

.nest .nest .grid,
.nest-2 .grid {
  border-spacing: 1em 0;
}

.nest .nest .grid > *,
.nest-2 .grid > * {
  margin-top: 1em;
}

.nest .nest .nest,
.nest-3 {
  padding: 1em;
  background-color: rgba(0,128,128,0.2);
}

.nest .nest .nest.sub-short,
.nest-3.sub-short {
  padding-top: .5em;
  padding-bottom: .5em;
}

.nest .nest .nest > *,
.nest-3 > * {
  margin-top: .6666666666666666em;
}

.nest .nest .nest .grid,
.nest-3 .grid {
  border-spacing: .6666666666666666em 0;
}

.nest .nest .nest .grid > *,
.nest-3 .grid > * {
  margin-top: .6666666666666666em;
}

.nest .nest .nest .nest,
.nest-4 {
  padding: .6666666666666666em;
  background-color: rgba(0,128,128,0.2);
}

.nest .nest .nest .nest.sub-short,
.nest-4.sub-short {
  padding-top: .3333333333333333em;
  padding-bottom: .3333333333333333em;
}

.nest .nest .nest .nest > *,
.nest-4 > * {
  margin-top: .4444444444444444em;
}

.nest .nest .nest .nest .grid,
.nest-4 .grid {
  border-spacing: .4444444444444444em 0;
}

.nest .nest .nest .nest .grid > *,
.nest-4 .grid > * {
  margin-top: .4444444444444444em;
}

.nest .nest .nest .nest .nest,
.nest-5 {
  padding: .4444444444444444em;
  background-color: rgba(0,128,128,0.2);
}

.nest .nest .nest .nest .nest.sub-short,
.nest-5.sub-short {
  padding-top: .2222222222222222em;
  padding-bottom: .2222222222222222em;
}

.nest .nest .nest .nest .nest > *,
.nest-5 > * {
  margin-top: .2962962962962963em;
}

.nest .nest .nest .nest .nest .grid,
.nest-5 .grid {
  border-spacing: .2962962962962963em 0;
}

.nest .nest .nest .nest .nest .grid > *,
.nest-5 .grid > * {
  margin-top: .2962962962962963em;
}

.nest .nest .nest .nest .nest .nest,
.nest-6 {
  padding: .2962962962962963em;
  background-color: rgba(0,128,128,0.2);
}

.nest .nest .nest .nest .nest .nest.sub-short,
.nest-6.sub-short {
  padding-top: .14814814814814814em;
  padding-bottom: .14814814814814814em;
}

.nest .nest .nest .nest .nest .nest > *,
.nest-6 > * {
  margin-top: .19753086419753085em;
}

.nest .nest .nest .nest .nest .nest .grid,
.nest-6 .grid {
  border-spacing: .19753086419753085em 0;
}

.nest .nest .nest .nest .nest .nest .grid > *,
.nest-6 .grid > * {
  margin-top: .19753086419753085em;
}

@media (max-width: 640px) {
  .nest,
  .nest-1 {
    padding: 1em;
    background-color: rgba(119,128,144,0.2);
  }

  .nest.sub-short,
  .nest-1.sub-short {
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .nest > *,
  .nest-1 > * {
    margin-top: .8em;
  }

  .nest .grid,
  .nest-1 .grid {
    border-spacing: .8em 0;
  }

  .nest .grid > *,
  .nest-1 .grid > * {
    margin-top: .8em;
  }

  .nest .nest,
  .nest-2 {
    padding: .8em;
    background-color: rgba(119,128,144,0.2);
  }

  .nest .nest.sub-short,
  .nest-2.sub-short {
    padding-top: .4em;
    padding-bottom: .4em;
  }

  .nest .nest > *,
  .nest-2 > * {
    margin-top: .64em;
  }

  .nest .nest .grid,
  .nest-2 .grid {
    border-spacing: .64em 0;
  }

  .nest .nest .grid > *,
  .nest-2 .grid > * {
    margin-top: .64em;
  }

  .nest .nest .nest,
  .nest-3 {
    padding: .64em;
    background-color: rgba(119,128,144,0.2);
  }

  .nest .nest .nest.sub-short,
  .nest-3.sub-short {
    padding-top: .32em;
    padding-bottom: .32em;
  }

  .nest .nest .nest > *,
  .nest-3 > * {
    margin-top: .512em;
  }

  .nest .nest .nest .grid,
  .nest-3 .grid {
    border-spacing: .512em 0;
  }

  .nest .nest .nest .grid > *,
  .nest-3 .grid > * {
    margin-top: .512em;
  }

  .nest .nest .nest .nest,
  .nest-4 {
    padding: .512em;
    background-color: rgba(119,128,144,0.2);
  }

  .nest .nest .nest .nest.sub-short,
  .nest-4.sub-short {
    padding-top: .256em;
    padding-bottom: .256em;
  }

  .nest .nest .nest .nest > *,
  .nest-4 > * {
    margin-top: .4096em;
  }

  .nest .nest .nest .nest .grid,
  .nest-4 .grid {
    border-spacing: .4096em 0;
  }

  .nest .nest .nest .nest .grid > *,
  .nest-4 .grid > * {
    margin-top: .4096em;
  }

  .nest .nest .nest .nest .nest,
  .nest-5 {
    padding: .4096em;
    background-color: rgba(119,128,144,0.2);
  }

  .nest .nest .nest .nest .nest.sub-short,
  .nest-5.sub-short {
    padding-top: .2048em;
    padding-bottom: .2048em;
  }

  .nest .nest .nest .nest .nest > *,
  .nest-5 > * {
    margin-top: .32768em;
  }

  .nest .nest .nest .nest .nest .grid,
  .nest-5 .grid {
    border-spacing: .32768em 0;
  }

  .nest .nest .nest .nest .nest .grid > *,
  .nest-5 .grid > * {
    margin-top: .32768em;
  }

  .nest .nest .nest .nest .nest .nest,
  .nest-6 {
    padding: .32768em;
    background-color: rgba(119,128,144,0.2);
  }

  .nest .nest .nest .nest .nest .nest.sub-short,
  .nest-6.sub-short {
    padding-top: .16384em;
    padding-bottom: .16384em;
  }

  .nest .nest .nest .nest .nest .nest > *,
  .nest-6 > * {
    margin-top: .262144em;
  }

  .nest .nest .nest .nest .nest .nest .grid,
  .nest-6 .grid {
    border-spacing: .262144em 0;
  }

  .nest .nest .nest .nest .nest .nest .grid > *,
  .nest-6 .grid > * {
    margin-top: .262144em;
  }
}

[class*="nest"].sub-no_padding {
  padding: 0 !important;
  border-spacing: 0 !important;
}

[class*="nest"].sub-no_v-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

[class*="nest"].sub-no_h-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

[class*="nest"].sub-no_margin {
  margin-top: 0 !important;
}

[class*="nest"].sub-no_margin > * {
  margin-top: 0 !important;
}

[class*="nest"].sub-top_padding {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

[class*="nest"].sub-bottom_padding {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.sub-full_height {
  height: 100%;
}

.sub-collapse {
  width: 1px;
}

.sub-full_width {
  width: 100%;
}

.grid-wrapper {
  table-layout: fixed;
  vertical-align: top;
}

.grid-wrapper.sub-no_space {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.grid-wrapper.sub-no_space > .grid {
  border-spacing: 0 !important;
}

.grid-wrapper.sub-no_space > .grid > .nest {
  margin-top: 0 !important;
}

.grid-wrapper.sub-auto {
  table-layout: auto;
}

.grid-wrapper.sub-align_middle {
  vertical-align: middle;
}

.grid {
  display: table;
  table-layout: fixed;
  vertical-align: top;
  width: 100%;
}

.grid > * {
  display: table-cell;
  vertical-align: inherit;
}

.grid.sub-auto {
  table-layout: auto;
}

.grid.sub-align_middle {
  vertical-align: middle;
}

.grid.sub-collapse {
  width: auto;
}

.grid.sub-full_height {
  height: 100%;
}

@media (max-width: 640px) {
  .grid.sub-break_small > .grid-row > * {
    display: block;
    width: 100%;
  }
}

.grid-row {
  display: table-row;
}

.grid-row > * {
  display: table-cell;
  vertical-align: inherit;
}

.grid-column.sub-fill {
  width: 100%;
}

.grid-column.sub-collapse {
  width: 1px;
}

body {
  margin: 0;
}