.block-wrapper
  width (100/4)% !important
  @media max-medium
    width (100/3)% !important
  @media max-small
    width (100/2)% !important

.block
  @extend .v-space-none
  background whitesmoke
  color black
