.block-wrapper
  width (100/4)% !important
  @media max-medium
    width (100/3)% !important
  @media max-small
    width (100/2)% !important
    
  &.sub-twoUp
    width (100/2)% !important
    @media max-medium
      width (100/1)% !important

.block
  @extend .v-space-none
  box-shadow 0 1px 4px rgba(black, 0.25)
  background white
  color black