@keyframes event
  0%
    opacity 0
    transform translateY(25%) scale(1.01)
  50%
    opacity 0
  100%
    opacity 1
    transform translateY(0%) scale(1.0)

@keyframes back
  0%
    opacity 0
  100%
    opacity 1

.button.sub-back
  opacity 1
  animation back 0.5s ease-in-out

.single-event
  .event
    opacity 1
    transform translateY(0%)
    animation event 0.5s ease-out

.event
  color black
  text-align left
  @media max-medium
    text-align center

  &.sub-next
    @media min-medium
      width 60%      


.event-content 
  position relative

.event-content-grid
  @extend $grid
  table-layout auto
  border-spacing unit(2)
  background white
  box-shadow 0 1px 4px rgba(black, 0.25)
  @media max-small
    border-spacing unit(1.5)
  > *
    @extend $vertical_spacing
    @media (max-width: 59em)
      display block
.event-ribbon
  position absolute
  top - unit(0.75)
  left - unit(1.75/4)

.event-content-photo
  line-height 0
  padding-top unit(0.35)
  .photo
    width 10em
    @media max-small
      width 50%

// .event-content-info

.event-date
  text-transform uppercase