.hero
  max-width 40em
  margin-right auto
  margin-left auto
  color white
  a
    color white

.hero-photo
  max-width 10em
  margin-right auto
  margin-left auto
  @media max-small
    max-width 8em

.hero-title
  null

.hero-date
  text-transform uppercase
