.hero
  max-width 55em
  margin-right auto
  margin-left auto
  color white
  a
    color white

.hero-photo
  max-width 10em
  margin-right auto
  margin-left auto
  @media max-small
    max-width 8em

.hero-title
  null

.hero-title-link
  text-decoration none
  &:hover
    text-decoration underline

.hero-date
  font-size 1.2em
  line-height 1.25
  text-transform uppercase

.hero-excerpt
  margin-top 1.5em
  font-size 1.25em

.hero-grid
  margin-top 1.5em
  border-spacing 3em 0

  > .col
    width 50%
    @media (max-width: 760px)
      display block
      width 100%
      margin-top 2em !important
    > *
      margin-top 1em

.hero-col-date
  line-height 1.2
  *
    margin-top 0.25em
  hr
    vertical-align middle
    margin 0 !important
    margin-bottom 0 !important
