.organizer
  display inline-block
  padding 0 unit(0.5)
  width 30%
  @extend $vertical_spacing
  vertical-align top
  @media max-small
    padding 0

.organizer-avatar
  display inline-block
  width unit(2)

.organizer-info
  text-align center
  vertical-align middle
  @extend $vertical_spacing.half
  @media max-small
    font-size 0.875em
    display block
    text-align center !important

.organizer-info-services
  @extend $vertical_spacing.half
  font-size 0.875em
  text-align center
  @media max-small
    display none
  .icon-glyph
    @extend $transition.sub-fast
    padding 0.5em
    border-radius 200px
    &:hover
    &:active
      background rgba(black, 0.25)