.pagination-wrap
  margin 1.5em -0.5em 0
  text-align center

.pagination
  display inline-table
  border-spacing 0.5em
  
.pagination-link
  display table-cell
  
  &:empty
    display none

  &.sub-newer
    text-align left
  &.sub-older
    text-align right