.xmas
  @extend .v-space-none
  position relative
  
.xmas-title
  @extend .pad-5
  @extend .v-space-none
  position absolute
  top 0
  right 0
  left 0
  color white
  
  h2
    @extend h4
    
  h3
    font-family "Merriweather"
    font-style italic
    @extend h5
    font-weight normal
  
.xmas-price
  @extend .pad-5
  position absolute
  right 0
  bottom 0
  display table
  border-spacing 0
  
.xmas-price-text
  font-family "Merriweather"
  font-size 1.2em
  font-weight bold
  height 3em
  width 3em
  display table-cell
  vertical-align middle
  text-align center
  border-radius 500px
  background violet
  color white
