unitz(multiplier = 1, unit = 1.5)
  unit((multiplier * unit), em)

max-small  = "(max-width: " +  unitz(24) + ")"
max-medium = "(max-width: " +  unitz(35) + ")"
max-large  = "(max-width: " +  unitz(50) + ")"

min-small  = "(min-width: " +  unitz(24) + ")"
min-medium = "(min-width: " +  unitz(35) + ")"
min-large  = "(min-width: " +  unitz(50) + ")"