.layout-content-wrapper
  background-color gray
  overflow hidden

  &.sub-background
    position relative
    color white
    background-color transparent
    &:before
    .sub-hero-bg
      content ""
      display block
      position absolute
      z-index -2
      top 0%
      right 0%
      width 100%
      height 100%
      background-size cover
      background-repeat no-repeat
      background-position center

    a
      color white

    &.sub-sponsors:before
      background-image url("../images/bg-coffee.jpg")
    &.sub-about:before
      background-image url("../images/bg-computer.jpg")
      background-position bottom center
    &.sub-organizers:before
      background-image url("../images/bg-books.jpg")
    &.sub-christmas-list:before
      background-image url("../images/bg-christmas_list.jpg")

  &.sub-translucent
    background-color rgba(violet, 0.25)
    color white
    a
      color inherit
      text-decoration underline

  &.sub-dark
    background-color darken(gray, 2)

  &.sub-hero
    height calc(100vh - 5em)
    display table
    width 100%
    > *
      display table-cell
      vertical-align middle

.layout-content
  @extend $padding
  max-width unitz(33.33)
  margin 0 auto

  text-align center

  &.sub-align_left
    text-align left

  &.sub-wide
    max-width unitz(50)

  &.sub-narrow
    max-width unitz(40)

  &.sub-narrower
    max-width 35em
